@import url(./normalize.css);

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Roboto';
}


p {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 17px;
}

.header_link {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.top_link:not(:first-child) {
  margin-left: 30px;
}

.top_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.header_info {
  background-color: #FFF;
  padding-top: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.call_centr {
  display: flex;
  align-items: center;
}

.call_centr a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.call_back_button {
  margin-left: 40px;
  background: #FFFFFF;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 12px 27px;
}

.line {
  border: 1px solid #EFEFEF;
  margin-bottom: 30px;
}

.header_nav {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.nav_link:not(:first-child) {
  margin-left: 40px;
}

.nav_link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.main_content {
  padding-top: 192px;
  padding-bottom: 192px;
  background-color: #F13C6E;
  background-image: url(../images/main_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.main_content_text {
  margin-right: 800px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.main_content_button {
background: #F13C6E;
border: 2px solid #FFFFFF;
border-radius: 40px;
padding: 12px 27px;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.05em;
color: #FFFFFF;
}

h2 {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.chair_list {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 255px; 
  background-color: #FFF;
  column-gap: 20px;
  align-items: center;
}

.chair_text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.chair_price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}

.buy_button {
  background: #F13C6E;
  border-radius: 30px;
  padding: 9px 40px;
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}